/* CSS for Video extension */
#wpVideo {
	width: 500px;
}

/* <pre> tags on Special:AddVideo */
.mw-special-AddVideo pre {
	overflow: scroll;
}

/* Make the submit button bigger on mobile devices w/ a low-resolution screen */
@media screen and (max-width: 750px) {
	.mw-special-AddVideo input[class="mw-htmlform-submit"] {
		padding: 15px;
	}
}

.video-instructions-pre {
	background-color: #F9F9F9;
	border: 1px dashed #2F6FAB;
	color: black;
	line-height: 1.1em;
	padding: 1em;
}
